*{

    list-style: none;
}
form{

    display: flex;
    flex-direction: row;

}

h1{

    text-align: center;
    margin-top: 2%;
}

.reservation{

    text-align: center;
    margin-top: 4%;
}

.form_resa