*{

    list-style: none;
    text-decoration: none;
}

/*  NAVBAR  */

  
    
  
form{

    text-align: center;
    margin-top: 5%;


}

h1{

    text-align: center;
    margin-top: 2%;
}

.reservation{

    text-align: center;
    margin-top: 4%;
}

.message{

    font-size: 20px;
    font-weight: bolder;
}

form input .form_profil {

    font-size: 25px;
    display: flex;
    justify-content: right;
    text-align: center;
}

.label{

    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-top: 2%;
    
}

form .submit{

    display: flex;
    margin-top: 2%;
    margin-left: 47%;
    

}

.index{

    text-align: center;
    margin-top: 2%;
}

footer{

    
    text-decoration: none;
    list-style: none;
   
    
}

.h1_index{

    margin-top: 6%;
}